@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Zen+Dots&display=swap');


  /* font-family: "Zen Dots", sans-serif;
  font-family: "Noto Sans KR", sans-serif; */

  html{
    font-size: 15px;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
  }
  ul,li{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  img{
    display: block;
    max-width: 100%;
  }
  figure{
    width: fit-content;
    height: fit-content;
  }
  h2{
    font-family: "Zen Dots", sans-serif;
  }

  /* header */
  header{
    width: 100%;
    height: 100px;
    background-color: #000;
  }
  header .container{
    line-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1{
    width: 200px;
  }
  header nav ul{
    display: flex;
  }
  header nav ul li{
    margin-left: 50px;
    font-size: 1.4rem;
    color: #fff;
  }
  header .bar{
    font-size: 2.5rem;
    border: none;
    background: none;
    display: none;
  }
  /* //header */

  /* submenu */
.submenu{
  width: 100%;
  height: 900px;
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #000;
  position: fixed;
  z-index: 999;
  top: 0;
  right: -100%;
}
.submenu .close{
  margin-top: 15px;
  margin-left: 15px;
  font-size: 2.5rem;
  float: left;
  border: none;
  background: none;
  color: #000;
}
.submenu ul li{
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: 80px;
  margin-left: 30px;
  font-size: 35px;
  font-weight: 700;
}
.submenu li a{
  display: block;
}
/* //submenu */


  /* main */
  main{
    width: 100%;
    height: 600px;
    background-color: #000;
    border-bottom-left-radius: 400px;
    margin-bottom: 300px;
  }
  main .p1 img{
    width: 273px;
    margin-top: 100px;
  }
  main p{
    color: #fff;
  }
  main span{
    display: block;
    color: #fff;
    margin-top: 100px;
  }
  main .t1{
    margin:50px 0;
  }
  /* //main */


  /* section1 */
  .section1 h2{
    text-align: center;
    margin-bottom: 100px;
  }
  .section1 p{
    line-height: 180%;
    margin-bottom: 100px;
  }
  .section1{
    margin-bottom: 300px;
  }
  /* //section1 */
  

  /* section2 */
  .section2 h2{
    text-align: center;
    margin-bottom: 100px;
  }
  .section2 .all{
    width: 100%;
    height: 600px;
    background-color: #000;
  }
  .section2 .sbox{
    display: flex;
    margin-top: 30px;
  }
  .section2 .slide{
    display: flex;
    margin-top: 30px;
  }
  .section2 .lf1{
    height: 465px;
    margin-right:20px;
  }
  .section2 .lf2{
    margin-right:20px;
  }
  .section2 .lf3{
    margin-right:20px;
  }
  .section2 .lf4{
    margin-right:20px;
  }
  .section2 .lf5{
    margin-right:20px;
  }
  .section2 .rg1{
    margin-top: 24px;
  }
  .section2 .rg2{
    margin-top: 24px;
  }
  .section2 .rg3{
    margin-top: 24px;
  }
  .section2 .rg4{
    margin-top: 24px;
  }
  .section2 .rg5{
    margin-top: 24px;
  }
  .section2 span{
    color: #fff;
  }
  /* section2 */


  
/* footer */
footer{
  width: 100%;
  height: 640px;
  background-color: #000;
  color: #fff;
}
footer .logo{
  margin: 10% 0;
}
footer .box{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .box .menu li{
  margin-bottom: 100%;
}
footer .box .menu li:nth-child(1){
  margin-top: 50%;
}
footer .box .icon{
  display: flex;
  margin-top: 20%;
}
footer .box .icon button{
  font-size: 2rem;
  background-color: #000;
  border: none;
  margin-right: 20px;
}
/* //footer */




@media screen and (max-width:1199px) {
  html{
    font-size: 13px;
  }
  header h1{
    width: 150px;
  }

  .section2 .rg1{
    margin-top: 20px;
  }
  .section2 .rg2{
    margin-top: 20px;
  }
  .section2 .rg3{
    margin-top: 20px;
  }
  .section2 .rg4{
    margin-top: 20px;
  }
  .section2 .rg5{
    margin-top: 20px;
  }
}

@media screen and (max-width:991px) {
  header h1{
    width: 130px;
  }
  .section2 .rg4 img{
    margin-top: 22px;
  }
}

@media screen and (max-width:767px) {
  /* 모바일 시작 */
  html{
    font-size: 12px;
  }

  header h1{
    width: 100px;
  }
  header nav{
    display: none;
  }
  header .bar{
    display: block;
  }

  main{
    height: 800px;
  }
  main span{
    margin-left: 20px;
    margin-top: 70px;
  }
  main .p1{
    margin: auto;
  }
  main .p1 img{
    margin-top: 50px;
  }
  main .t1{
    margin-left: 20px;
  }

  .section2 .slide{
    margin-top: 0;
  }
  .section2 .slide img{
    margin-left: 75px;
  }
  .section2 span{
    margin-top: 20px;
    margin-left: 75px;
  }
  .section2 .col-12{
    margin-top: 20px;
  }
  .section2 .rg1{
    display: none;
  }
  .section2 .rg2{
    display: none;
  }
  .section2 .rg3{
    display: none;
  }
  .section2 .rg4{
    display: none;
  }
  .section2 .rg5{
    display: none;
  }
  footer .box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .box .icon{
    margin-top: 0;
    margin-left: 0;
  }

}
@media screen and (max-width:575px) {
  main{
    border-bottom-left-radius: 200px;
  }
  .section2 h2{
    font-size: 1.5rem;
  }
  .section1 button{
    top: 80%;
    right: 10%;
  }
  .section1 span{
    top: 90%;
    right: 4%;
  }
}

@media screen and (max-width:400px) {
  .submenu{
    height: 850px;
  }
  main{
    height: 750px;
    border-bottom-left-radius: 150px;
  }
  main span{
    margin-top: 50px;
    margin-left: 0;
  }
  main .t1{
    margin: 30px 0;
    margin-left: 0;
  }
  main .mi{
    height: 150px;
  }
  .section2 h2{
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  .section2 .slide img{
    margin-left: 0;
  }
  .section2 span{
    margin-left: 0;
    font-size: 1.2rem;
  }
  .section2 .lf1{
    margin-right:0;
  }
  .section2 .lf2{
    margin-right:0;
  }
  .section2 .lf3{
    margin-right:0;
  }
  .section2 .lf4{
    margin-right:0;
  }
  .section2 .lf5{
    margin-right:0;
  }
  .section1 span{
    top: 90%;
    right: 2%;
  }
}
