@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Zen+Dots&display=swap');


/* font-family: "Zen Dots", sans-serif;
  font-family: "Noto Sans KR", sans-serif; */

html {
  font-size: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

figure {
  width: fit-content;
  height: fit-content;
}

h2 {
  font-family: "Zen Dots", sans-serif;
}

/* header */
header {
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 99;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  width: 200px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-left: 50px;
  font-size: 1.4rem;
  color: #fff;
}

header .bar {
  font-size: 2.5rem;
  border: none;
  background: none;
  display: none;
}

/* //header */

/* main */
main {
  width: 100%;
  height: 50vh;
  margin-bottom: 700px;
}

main .v{
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;
  overflow: hidden;
  margin-bottom: 4em;
}

main .v video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main .st1 {
  position: absolute;
  top: 50%;
  left: 30%;
  color: #fff;
  font-size: 3rem;
  font-family: "Zen Dots", sans-serif;
}

main .st2 {
  position: absolute;
  top: 60%;
  left: 50%;
  color: #fff;
  font-size: 3rem;
  font-family: "Zen Dots", sans-serif;
}

/* submenu */
.submenu {
  width: 100%;
  height: 900px;
  background-color: #000;
  color: #fff;
  position: fixed;
  z-index: 9990;
  top: 0;
  right: -100%;
}

.submenu .close {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 2.5rem;
  float: left;
  border: none;
  background: none
}

.submenu ul li {
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: 80px;
  margin-left: 30px;
  font-size: 35px;
  font-weight: 700;
}

.submenu li a {
  display: block;
}

/* //submenu */




/* about */
.about {
  margin-bottom: 300px;
}

.about p {
  font-size: 1.2rem;
}

.about figure {
  filter: grayscale(2);
}

.about figure:hover {
  filter: grayscale(0);
}

/* //about */


/* news */
.news {
  margin-bottom: 300px;
}

.news .newstitle {
  width: 350px;
  height: 60px;
  margin: auto;
  margin-bottom: 8%;
  background-color: #FF0000;
  color: #fff;
  text-align: center;
}

.news .newstitle h2 {
  line-height: 60px;
}

.news .bold {
  font-size: 1.2rem;
  font-weight: 700;
}

.news .text {
  font-size: 1.2rem;
  line-height: 180%;
  margin: 50px 0;
}

/* //news */


/* preview */
.preview {
  margin-bottom: 300px;
}

.preview .previewtitle {
  width: 600px;
  height: 60px;
  margin-bottom: 100px;
  background-color: #FF0000;
  color: #fff;
  text-align: center;
}

.preview .previewtitle h2 {
  line-height: 60px;
}

.preview span {
  font-weight: 700;
  font-size: 1.2rem;
}

.preview p {
  line-height: 180%;
  font-size: 1.2rem;
}

/* //preview */


/* lookbook */
.lookbook {
  margin-bottom: 300px;
}

.lookbook .lookbooktitle {
  width: 650px;
  height: 60px;
  margin-bottom: 100px;
  background-color: #FF0000;
  color: #fff;
  text-align: center;
}

.lookbook .lookbooktitle h2 {
  line-height: 60px;
}

.lookbook span {
  font-weight: 700;
  font-size: 1.2rem;
}

.lookbook p {
  line-height: 180%;
  font-size: 1.2rem;
}

/* //lookbook */


/* store */
.store {
  margin-bottom: 300px;
}

.store .storetitle {
  width: 150px;
  height: 60px;
  margin-bottom: 100px;
  background-color: #FF0000;
  color: #fff;
  text-align: center;
}

.store .storetitle h2 {
  line-height: 60px;
}

.store .col-2 figure img {
  height: 100vh;
}

/* //store */



/* footer */
footer {
  width: 100%;
  height: 640px;
  background-color: #000;
  color: #fff;
}

footer .logo {
  margin: 50px 0;
}

footer .box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .box .menu li {
  margin-bottom: 100px;
}

footer .box .menu li:nth-child(1) {
  margin-top: 50px;
}

footer .box .icon {
  display: flex;
  margin-top: 200px;
}

footer .box .icon button {
  font-size: 2rem;
  background-color: #000;
  border: none;
  margin-right: 20px;
}

/* //footer */



@media screen and (max-width:1199px) {

  /* header 메뉴 , 영상 안에 글자 */
  html {
    font-size: 13px;
  }

  header h1 {
    width: 150px;
  }
  main .st2{
    top: 65%;
  }
  .news .newstitle {
    width: 300px;
    height: 40px;
    margin: auto;
    margin-bottom: 8%;
    text-align: center;
  }

  .news .newstitle h2 {
    line-height: 40px;
  }

  .preview .previewtitle {
    width: 600px;
    height: 40px;
    margin-bottom: 10%;
    text-align: center;
  }

  .preview .previewtitle h2 {
    line-height: 40px;
  }

  .lookbook .lookbooktitle {
    width: 650px;
    height: 40px;
    margin-bottom: 10%;
    text-align: center;
  }

  .lookbook .lookbooktitle h2 {
    line-height: 40px;
  }

  .store .storetitle {
    width: 150px;
    height: 40px;
    margin-bottom: 10%;
    text-align: center;
  }

  .store .storetitle h2 {
    line-height: 40px;
  }
}


@media screen and (max-width:991px) {

  /* header 메뉴 , 영상 안에 글자 */
  header nav ul li {
    font-size: 1.2rem;
  }
  main .st1{
    font-size: 2.7rem;
  }
  main .st2{
    font-size: 2.7rem;
  }
}

@media screen and (max-width:767px) {

  /* 모바일 시작 / 메뉴바  */
  html {
    font-size: 12px;
  }

  header h1 {
    width: 100px;
  }

  header nav {
    display: none;
  }

  header .bar {
    display: block;
  }
  main{
    margin-bottom: 300px;
  }
  main .st1{
    font-size: 2.2rem;
  }
  main .st2{
    font-size: 2.2rem;
  }
  .about {
    margin-bottom: 30%;
  }

  .about h4 {
    margin-top: 30px;
  }

  .news .newstitle {
    margin-bottom: 10%;
  }

  .news .col-12 {
    margin-bottom: 40px;
  }

  .preview .previewtitle {
    width: 550px;
    height: 40px;
    margin-bottom: 10%;
    text-align: center;
  }

  .preview figure {
    margin: auto;
  }


  .lookbook .lookbooktitle {
    width: 550px;
    height: 40px;
    margin-bottom: 10%;
    text-align: center;
  }

  .lookbook figure {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .store picture img {
    margin-bottom: 50px;
  }

  footer .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer .box .icon {
    margin-top: 0;
    margin-left: 0;
  }
}

@media screen and (max-width:575px) {
  main .st1 {
    font-size: 1.8rem;
  }

  main .st2 {
    font-size: 1.8rem;
  }
  .preview .previewtitle {
    width: 500px;
    height: 40px;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
  }

  .preview .previewtitle h2 {
    font-size: 1.8rem;
  }

  .lookbook .lookbooktitle {
    width: 500px;
    height: 40px;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
  }

  .lookbook .lookbooktitle h2 {
    font-size: 1.8rem;
  }

  .store .storetitle {
    width: 130px;
    height: 40px;
    margin-bottom: 10%;
    text-align: center;
  }

  .store .storetitle h2 {
    font-size: 1.8rem;
  }
}


@media screen and (max-width:400px) {
  .submenu{
    height: 850px;
  }
  main{
    margin-bottom: 0;
  }
  main .st1{
    font-size: 1.4rem;
  }
  main .st2{
    font-size: 1.4rem;
  }

  .preview .previewtitle {
    width: 380px;
    height: 40px;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
  }

  .preview .previewtitle h2 {
    font-size: 1.4rem;
  }

  .lookbook .lookbooktitle {
    width: 380px;
    height: 40px;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
  }

  .lookbook .lookbooktitle h2 {
    font-size: 1.4rem;
  }

  .store .storetitle {
    width: 120px;
    height: 40px;
    margin-bottom: 10%;
    text-align: center;
  }

  .store h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width:380px) {
  main .st1{
    left: 25%;
  }
  .preview .previewtitle {
    width: 300px;
    height: 40px;
    margin-bottom: 10%;
    text-align: center;
  }

  .preview .previewtitle h2 {
    font-size: 1.2rem;
    line-height: 40px;
  }

  .lookbook .lookbooktitle {
    width: 300px;
    height: 40px;
    margin-bottom: 10%;
    text-align: center;
  }

  .lookbook .lookbooktitle h2 {
    font-size: 1.2rem;
    line-height: 40px;
  }

}

@media screen and (max-height:380px) {
  main{
    margin-bottom: 400px;
  }
}